* @Gerardo-Ontiveros

src/modules/auth/ @edwins0l0rza @mich0rtegA

src/modueles/subscription/ @edwins0l0rza @mich0rtegA

src/modules/recommendation/ @antonyto02 @idalygf1

src/modules/streaming/ @Mar6vaz

src/modules/catalog/ 